@import "tailwindcss";

.warning-stripes {
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		45deg,
		rgb(255, 255, 255),
		rgb(255, 255, 255) 10px,
		black 10px,
		black 20px
	);
	background-size: 28px 28px;
}

.background-animation {
	animation: scrollBackground 28s linear infinite;
}

@keyframes scrollBackground {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: -100% 0%;
	}
}
