@import "tailwindcss";

.warning-stripes {
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		45deg,
		black,
		black 10px,
		white 10px,
		white 20px
	);
	background-size: 28px 28px;
}

.background-animation {
	animation: scrollBackground 28s linear infinite;
}

@keyframes scrollBackground {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: -100% 0%;
	}
}

@keyframes blinkInverted {
	from {
		filter: opacity(100%);
	}
	to {
		filter: opacity(0%);
	}
}

.blink-slow {
	animation: blinkInverted 1000ms steps(2, jump-both) infinite;
}

.blink-fast {
	animation: blinkInverted 300ms steps(2, jump-both) infinite;
}

.terminal {
	filter: grayscale(1) sepia(1) hue-rotate(310deg) saturate(3);
}

.image_enhance {
	filter: grayscale(1);
}

@font-face {
	font-family: JetBrainsMono;
	font-style: normal;
	font-weight: 400;
	src: url("./public/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf")
		format("truetype");
}

@theme {
	--font-display: "JetBrainsMono", monospace;
}