@import "tailwindcss";

@theme {
	--color-theme-light: orangered;
	--color-theme-dark: black;
	--color-theme-contrast: #440E03;
}

.warning-stripes {
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		45deg,
		black,
		black 10px,
		var(--color-theme-contrast) 10px,
		var(--color-theme-contrast) 20px
	);
	background-size: 28px 28px;
}

.background-animation {
	animation: scrollBackground 28s linear infinite;
}

@keyframes scrollBackground {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: -100% 0%;
	}
}

