@import "tailwindcss";

@theme {
	--color-theme-light: orangered;
	--color-theme-dark: black;
	--color-theme-contrast: #440E03;
}

.warning-stripes {
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		45deg,
		black,
		black 10px,
		var(--color-theme-contrast) 10px,
		var(--color-theme-contrast) 20px
	);
	background-size: 28px 28px;
}

.background-animation {
	animation: scrollBackground 28s linear infinite;
}

@keyframes scrollBackground {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: -100% 0%;
	}
}

@keyframes blinkInverted {
	from {
		filter: opacity(100%)
	}
	to {
		filter: opacity(0%)
	}
}

.blink-slow {
	animation: blinkInverted 1000ms steps(2, jump-both) infinite;
}

.blink-fast {
	animation: blinkInverted 300ms steps(2, jump-both) infinite;
}

.terminal {
	filter: grayscale(1) sepia(1) hue-rotate(310deg) saturate(3);
}